<footer id="footer" class="footer">
    <div class="copyright">
        <span>© <%= config.author %> | 由<a href="https://hexo.io" target="_blank">Hexo</a> & <a href="https://github.com/Siricee/hexo-theme-Chic" target="_blank">Chic</a>强力驱动</span>
    </div>
</footer>
